
<!DOCTYPE html>
<html>

<head>
    <title>Expire Page</title>
    <style>
      /* / Add your CSS styles here / */
      .container {
        width: 500px;
        margin: 0 auto;
        text-align: center;
      }
    </style>
     <script type="text/javascript">
        window.history.forward();
        function noBack() {
            window.history.forward();
        }
    </script>   
</head>

<body>
  <div class="container">
    <!-- <div class="logo">
      <img src="./logo.jpg" alt="Logo" width="100" 
     height="100" />
    </div> -->
    <h1>This link is expired</h1>

  </div>
</body>

</html>
