<!DOCTYPE html>
<html>
  <head>
    <title>Reset Password</title>
    <style>
      .containe {
        width: 500px;
        margin: 0 auto;
        text-align: center;
      }
      #img {
        margin-bottom: 50px;
      }
      form {
        margin-top: 50px;
      }
      input[type="password"] {
        padding: 10px;
        width: 100%;
        margin-bottom: 20px;
        font-size: 16px;
        border-radius: 5px;
        border: 1px solid gray;
      }
      input[type="text"] {
        padding: 10px;
        width: 100%;
        margin-bottom: 20px;
        font-size: 16px;
        border-radius: 5px;
        border: 1px solid gray;
      }
      input[type="submit"] {
        padding: 10px 20px;
        background-color: rgb(16, 89, 113);
        color: white;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        margin-bottom: 30px;
      }
      .error {
        color: red;
      }
    </style>
    <script type="text/javascript">
      window.history.forward();
      function noBack() {
        window.history.forward();
      }
    </script>
  </head>

  <body>
    <div class="container">
      <h1>Reset Password</h1>
      <form action="" method="POST">
        <input
          type="password"
          name="new_password"
          placeholder="Enter new password"
        />
        <input
          type="text"
          name="confirm_password"
          placeholder="Confirm new password"
        />
        <input type="submit" value="Reset Password" />
      </form>
      <span class="error" id="errorMessage"></span>
    </div>
    <script>
      const form = document.querySelector("form");
      const errorMessage = document.querySelector("#errorMessage");

      form.addEventListener("submit", (e) => {
        const newPassword = document.querySelector(
          'input[name="new_password"]'
        ).value;
        const confirmPassword = document.querySelector(
          'input[name="confirm_password"]'
        ).value;

        if (newPassword !== confirmPassword) {
          errorMessage.textContent = "Passwords don't match";
          e.preventDefault();
        } else if (newPassword.length < 8 || confirmPassword.length < 8) {
          errorMessage.textContent = "Password must be 8 characters long";
          e.preventDefault();
        } else {
          errorMessage.textContent = "";
        }
      });
    </script>
  </body>
</html>
