
<!DOCTYPE html>
<html> 
<head>
    <style>
        /* / Add your CSS styles here / */
        .container {
          width: 500px;
          margin: 0 auto;
          text-align: center;
        }
      </style>
    <script type="text/javascript">
        window.history.forward();
        function noBack() {
          window.history.forward();
        }
      </script>
      
</head>


<body>
    <div class="container">
      <h1>Password reset succeasully</h1>
    </div>
  </body>

</html>
